@import '../../style/common.scss';

.loading {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 400px;

  .background {
    width: 100px;
    height: 100px;
    background-color: #e4e4e4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  strong {
    @include display-small-text;
  }
}
