@import '../../style/common.scss';

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .code {
    @include display-large-text;
  }

  .message {
    @include body-regular-text;
  }

  .escape {
    margin-top: 40px;
  }
}
