@import '../../style/common.scss';

.history-view {
  margin-bottom: 20px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-primary;

    .count {
      @include body-large-text;
    }

    .filter {
      @include body-medium-text;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      li {
        display: flex;
        gap: 2px;

        input[type='checkbox'] {
          width: 16px;

          &:not(:checked) + label {
            color: $color-body;
          }
        }
      }
    }
  }

  .list {
    .subtitle {
      @include bold-medium-text;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;

      .date {
        .week {
          color: $color-body;
        }
      }

      .sum {
        display: flex;
        gap: 10px;
        color: $color-body;
      }
    }

    table {
      @include body-regular-text;
      width: 100%;
      margin-top: 15px;

      tr {
        height: 60px;
        border: {
          top: 1px solid $color-label;
          bottom: 1px solid $color-label;
        }
        &.active {
          border: {
            top: 2px solid $color-primary;
            bottom: 2px solid $color-primary;
          }
        }

        td {
          vertical-align: middle;
          text-align: center;
          padding: 0 5px;

          .salary {
            background-color: #b9d58c;
          }
          .allowance {
            background-color: #e6d267;
          }
          .etc-income {
            background-color: #e2b765;
          }
          .food {
            background-color: #4a6cc3;
          }
          .life {
            background-color: #4ca1de;
          }
          .shopping {
            background-color: #94d3cc;
          }
          .traffic {
            background-color: #4cb8b8;
          }
          .medical {
            background-color: #6ed5eb;
          }
          .culture {
            background-color: #d092e2;
          }
          .etc-cost {
            background-color: #817dce;
          }
        }

        .category {
          font-size: 14px;
          color: $color-background;
          width: 15%;

          span {
            display: inline-block;
            width: 80px;
            padding: 4px 0;
            border-radius: 999px;
          }
        }

        .content {
          width: 40%;
          text-align: left;
        }

        .payment {
          width: 20%;
          color: $color-body;
        }

        .amount {
          text-align: right;

          &.income::before {
            content: '+';
            margin-right: 5px;
          }

          &.cost::before {
            content: '-';
            margin-right: 5px;
          }
        }
      }
    }
  }
}
